.button {
    -fx-font-size: 14px;
    -fx-background-color: #4256a6;
    -fx-text-fill: white;
    -fx-background-radius: 7;
    -fx-cursor: hand;
    -fx-padding: 10 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.25), 4, 0.5, 0, 2);
    -fx-transition: all 0.2s ease-in-out;
}

.button:hover {
    -fx-translate-y: -3; /* Di chuyển lên trên 5px */
    -fx-scale-x: 1.1;    /* Phóng to nhẹ */
    -fx-scale-y: 1.1;
}

.button:pressed {
    -fx-translate-y: 2;  /* Nhấn xuống 2px */
    -fx-scale-x: 0.95;   /* Thu nhỏ nhẹ */
    -fx-scale-y: 0.95;
}

#themSachAPI {
    -fx-background-color: #152c6b;
    -fx-font-size: 14;
    -fx-border-color: white;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
 }

#dong {
    -fx-background-color: #225a8e;
    -fx-text-fill: white;
    -fx-border-color: grey;
    -fx-border-radius: 7;
}